[worldserver]

#
# Expires:
# Set it to 1 if you want the vip to expire.
# Default: 0
#

PremiumLib.Expires = 0

#
# Duration:
# How many days the player will be premium. This will work only if PremiumLib.Expires is set to 1.
# Default: 30
#

PremiumLib.Duration = 30
